@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root  {
    --negro: black;
    --gris: #D7D7D9;
    --azul: #184059;
    --celeste: #608BA6;
    --naranja: #BF7B3F;
    --bordo: #8C2F1B;
    
}

* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

body {
    background-image: url(img/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(45deg, var(--azul), var(--bordo), var(--celeste), var(--naranja), var(--gris)); */
    font-family: 'Indie Flower', cursive;
    overflow: hidden;
}

/* Nav */
.nav {
    background-color: rgba(247, 59, 206, 0.753);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    padding: 5px;
}
.nav > li:hover {
    background-color: rgba(245, 17, 195, 0.747);
}

li {
    list-style: none;
}
li > img {
    border-radius: 10px;
}
li > .navA {
    color: rgba(8, 8, 8, 0.698);
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 1.5em;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
    transition: all .5s ease;
    transform-style: preserve-3d;
}
li > .navA:after {
    content: "Go!";
    position: absolute;
    top: -100%;
    left: 0px;
    width: 100%;
    background: rgb(192, 16, 236);
    color: white;
    transform-origin: left bottom;
    transform: rotateX(90deg);
}
li > .navA:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}


/* Main */

.container {
    
    overflow: auto;
    box-sizing: border-box;
    height:  90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
    width:10px;
}

.container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.descripcion {
    background-color:var(--verdeClaro);
    border-radius: 25px;
}

/* Sobre Mi */

.img {
    width: 300px;
    height: 300px;
    background-image: url("img/sofiCV.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-self: center;
    margin-top: 2vh;
}
#tit{
    font-size: 3rem;
}
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: rgba(8, 8, 8, 0.698);
    letter-spacing: 2px;
    font-size: 4em;
    font-weight: 800;
    text-align: center; 
    flex-grow: 1;
}
p {
    color: rgba(8, 8, 8, 0.698);
    letter-spacing: 2px;
    font-weight: 800;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    padding: 2rem;
}
/* #subTit{
    font-size: 2rem;
} */

.aboutMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Portafolio */

.social {
	position: fixed; 
	right: 0; 
	top: 200px; 
	z-index: 10; 
    background: #000;
}

.social ul li a {
    display: inline-block;
    color:#fff;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 
}

.social ul li .envelope:hover {
    background: #000; 
    padding: 10px 30px; 
}
.social ul li .linkedin:hover {
    background: #000; 
    padding: 10px 30px; 
}.social ul li .github:hover {
    background: #000; 
    padding: 10px 30px; 
}
/* Carousel */
h2 {
    text-align: center;
    text-decoration: underline;
    box-shadow: #184059;
}
a > img {
    margin: auto;
    width: 80%;
}
.fade:hover {
    background-color: rgba(51, 51, 51, 0.63);
    content: "GO TO SEE THE PAGE";
    z-index: 1000;
}

/* Contact Me */
.form {
  width: 50%;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: auto;
  padding: 20px 30px;

}
.form legend {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
  font-size: 2em;
}

.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  /* font-family: "Montserrat", sans-serif; */
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
    font-size: 0.8em;
}
.form input:focus {
  border-bottom: 2px solid #78788c;
}
.form label:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 1em;
  color: #5a5a5a;
}
.form button {
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  width: 20%;
  align-self: flex-end;
}
.form button:hover {
  background: #78788c;
  color: #fff;
}


/* Footer */
footer {
    width: 100%;
    height: 10vh;
    background-color: var(--gris);
    position: fixed;
    bottom:  0;
}
footer > p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
footer div {
  content: "Hi";
  width: 50%;
  font-size: 1em;
}
footer a {
    text-decoration: none;
}

footer span {
    border: 2px dashed gray;
    border-radius: 6px;
    margin: 0 5px 0 15px;
    align-self: center;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
}
span > i {
    padding: 5px;
    font-weight: bold;
    color:  black
}
